*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    padding-top: 55px;
}

header{
    background-color: #4357ad;
    position: fixed;
    width: 100%;
    top: 0;
}

#navegacion{
    width: 80%;
    max-width: 2000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

#navegacion #logo{
    display: inline-block;
    margin-right: 1em;
}

#navegacion #logo img{
    vertical-align: top;
    height: 22px;
}

#navegacion .boton{
    display: none;
    color: white;
    text-decoration: none;
    font-size: 1em;
}

#navegacion .logo :hover{
    background: #4357ad;
}

#navegacion #enlaces{
    display: inline-block;
    text-align: right;
}

#navegacion #enlaces a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    text-align: center;
    font-size: 1em;
}

#navegacion #enlaces i{
    margin-right: 5px;
}

#navegacion #enlaces a:hover{
    background-color: plum;
    color: #4357ad;
}

main{
   width: 90%;
   max-width: 2000px;
   margin: 20px auto;
   background-color: #fff;
   padding: 20px;
   box-shadow: 0px 2px 5px rgba(0,0,0,0.75);
}

main article h2{
    font-weight: normal;
    margin-bottom: .5em;
}

main article hr {
    margin-bottom: 1em;
    height: 2px;
    background: #4357ad;
    border: none;
}

main article p{
    margin-bottom: 1em;
}


/*efectos del header*/

.headroom{
    transition: transform .3s ease;
}

.headroom--pinned{
    transform: translateY(0%);
}

.headroom--unpinned{
    transform: translateY(-100%)
}

/*media query*/

@media screen and (max-width: 700px){
    .header #navegacion{
        flex-direction: column;
    }

    .header #navegacion #logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 1em;
    }

    .header #navegacion #logo #boton{
        display: inline-block;
    }

    .heades #navegacion #enlaces{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }
}